/web/bundles/
/web/manifest.json
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.DS_Store
composer.lock
dploy.yaml
.rev
/web/js/compiled/
/web/css/compiled/
/web/js/t.js
