/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/phpunit.xml
/components/
/vendor/
/web/bundles/
/web/manifest.json
/web/assetic/
/web/fonts/
/web/uploads/
/web/js/bootstrap.js
/web/js/jquery.js
/web/css/bootstrap.css
/web/fonts/glyphicons-halflings-regular.eot
/web/fonts/glyphicons-halflings-regular.svg
/web/fonts/glyphicons-halflings-regular.ttf
/web/fonts/glyphicons-halflings-regular.woff
/web/css/compiled/*
/web/js/compiled/*
/bin/
.DS_Store
.rev
.rules/*
/composer.lock
