/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/app/config/Eldolink-8c2e1d5e68b3.json
/phpunit.xml
/vendor/
/web/bundles/
/web/manifest.json
/web/.user.ini
/web/uploads/
/web/media/
/bin/
.DS_Store
.rev
.rules
/shared/
/node_modules/
/app/Resources/lib
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
