parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Application specific parameters
    app.name:           AppName
    app.facebook.id:    XXX
    app.locales:        [fr, en]
    app.maxItems:       50

    contact_plus.site.id:       xxx
    contact_plus.service.id:    xxx

    use_affiliate:    false
