parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~

    local_mailer_transport:  smtp
    local_mailer_host:       127.0.0.1
    local_mailer_port:       ~
    local_mailer_user:       ~
    local_mailer_password:   ~

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Application specific parameters
    app.url:            https://www.eldoslim.com
    app.cdn_url:        https://cdn.eldoslim.com
    app.name:           AppName
    app.admin_email:    error@example.com
    app.facebook.id:    XXX
    app.gg_analytics.id: XXX
    app.gg_analytics.domains: [slimorama.com, sukupuk.com, pomrakun.com, chopslim.com, yamamua.com, eldoslim.com, slimtouk.com, eldo4u.com, wellnessimo.com, maomakmak.com, keet-tun.com, chopfarang.com, rakniramon.com, doyouslim.com, slimdoo.com, younarak.com, mai-pompoui.com, chopkao.com, aornarak.com, slimdoo-stop.com, slimdoo-light.com, slimdoo-tonic.com, slimdoo-up.com, slimdoo-zen.com, slimdoo-relax.com, slimdoo-ring.com, wellness-and-smile.com]
    app.locales:        [en, fr]
    app.templates:      [home, pdv1, pdv2, pdv3]
    app.maxItems:       50
    app.maxQuantity:    5

    contact_plus.site.id:       xxx
    contact_plus.service.id:    xxx

    default_currency: 'EUR'
    default_affiliate: 12345
    use_affiliate: true
    # If use_affiliate is set to true, we can force to index pages by using robots meta tag
    force_index:        false

    # Mailjet parameters
    mailjet_api_key:            XXX
    mailjet_api_secret:         XXX
    mailjet_list_id:            XXX

    # Oxone parameters
    oxone_api_url:                  'http://smsgate1.oxonegroup.fr:8002/bin/'
    oxone_username:                 XXX
    oxone_password:                 XXX
    oxone_slimdoo_account_id:       XXX
    oxone_slimdoo_shortcode:        XXX
    oxone_slimdoo_sender:           XXX
    oxone_thetoujours_account_id:   XXX
    oxone_thetoujours_shortcode:    XXX
    oxone_thetoujours_sender:       XXX

    # Esendex parameters
    esendex_login:                  XXX
    esendex_password:               XXX
    esendex_slimdoo_account_id:     XXX
    esendex_slimdoo_shortcode:      XXX
    esendex_slimdoo_sender:         XXX
    esendex_thetoujours_account_id: XXX
    esendex_thetoujours_shortcode:  XXX
    esendex_thetoujours_sender:     XXX
    esendex_eldolink_account_id:    XXX
    esendex_eldolink_shortcode:     XXX
    esendex_eldolink_sender:        XXX

    # Sendgrid parameters
    sendgrid_api_key:           XXX

    # Sendinblue parameters
    sendinblue_api_key:         XXX

    # NeverBounce parameters
    neverbounce_api_key:       XXX

    # Leadiance parameters
    leadiance_url:              http://www.leadcollecte.com/SingleSubscribe.api?ai=1336&ak=PQgsi0sQzoXYYqUTyUFRm611Zd

    # MessageBusiness parameters
    messagebusiness_url:        https://services.message-business.com/v3/api/PublicInterface.svc/wsdl
    messagebusiness_account_id: XXX
    messagebusiness_api_key:    XXX

    # OpenWeatherMap API
    openweathermap_url:         http://api.openweathermap.org/data/2.5/weather
    openweathermap_api_key:     XXX

    # GoogleAnalytics API
    googleanalytics_config: XXX

    # Firebase Config
    firebase_api_key: XXX
    firebase_dynamic_link_url: https://firebasedynamiclinks.googleapis.com/v1/shortLinks?key=
    firebase_dynamic_link_domain: XXX

    # GTM ID
    gtm_id: XXX

    # Geocoding
    googlemap_api_key: XXX

    # Strandlink Configuration
    strandlink_api_url: http://www.leadcollecte.com/
    strandlink_api_key: XXX
    default_strandlink_id: XXX
    default_strandlink_key: XXX
    tips_strandlink_id: XXX
    tips_strandlink_key: XXX
    imc_strandlink_id: XXX
    imc_strandlink_key: XXX
    ideal_weight_strandlink_id: XXX
    ideal_weight_strandlink_key: XXX
    calories_strandlink_id: XXX
    calories_strandlink_key: XXX

    # Amazon S3 parameters
    amazon_s3.region: 'eu-west-3'
    amazon_s3.key: username
    amazon_s3.secret: password
    amazon_s3.medias_bucket_name: eldomedias
    amazon_s3.documents_bucket_name: eldodocuments
    amazon_s3.base_url: https://s3.amazonaws.com/

    # OneSignal Configuration
    onesignal_default_app: XXX
    slimdoo_onesignal_app_name: XXX
    slimdoo_onesignal_app_id: XXX
    slimdoo_onesignal_safari_web_id: XXX
    slimdoo_onesignal_app_auth_key: XXX
    slimdoo_onesignal_gcm_sender_id: XXX
    eldolink_onesignal_app_name: XXX
    eldolink_onesignal_app_id: XXX
    eldolink_onesignal_safari_web_id: XXX
    eldolink_onesignal_app_auth_key: XXX
    eldolink_onesignal_gcm_sender_id: XXX

    # Newrelic parameters
    newrelic_api_key:         XXX

    # Back Office config
    backoffice_url: back.eldolink.com/

    # API config
    api_url: www.absolusecure.com/
    api_version: v1

    # Cookie Consent Config
    cookie_consent_name: 'cookie_consent'
    cookie_consent_user_manager: 'customer'
    cookie_consent_categories: ['necessary', 'analytics', 'marketing', 'social-media']

    # Offers config
    default_product: 1
    default_pricing_model: share
    default_offer: slimdoo-1hour
    testing_offers: []

    # Eldolink Affiliates
    affiliates.no_exit: [12345]
    
    # Assets version
    assets_version:         v1
