parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    local_mailer_transport:  smtp
    local_mailer_host:       127.0.0.1
    local_mailer_port:       ~
    local_mailer_user:       ~
    local_mailer_password:   ~

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Application specific parameters
    app.url:            https://www.eldoslim.com
    app.name:           AppName
    app.admin_email:    error@example.com
    app.facebook.id:    XXX
    app.gg_analytics.id: XXX
    app.locales:        [en, fr]
    app.templates:      [home, pdv1, pdv2, pdv3]
    app.maxItems:       50

    contact_plus.site.id:       xxx
    contact_plus.service.id:    xxx

    default_affiliate: 12345
    use_affiliate: true
    # If use_affiliate is set to true, we can force to index pages by using robots meta tag
    force_index:        false

    # Sendgrid parameters
    sendgrid_username:          XXX
    sendgrid_password:          XXX

    # NeverBounce parameters
    neverbounce_username:       XXX
    neverbounce_secret_key:     XXX

    # Leadiance parameters
    leadiance_url:              http://www.leadcollecte.com/SingleSubscribe.api?ai=1336&ak=PQgsi0sQzoXYYqUTyUFRm611Zd

    # MessageBusiness parameters
    messagebusiness_url:        https://services.message-business.com/v3/api/PublicInterface.svc/wsdl
    messagebusiness_account_id: XXX
    messagebusiness_api_key:    XXX

    # OpenWeatherMap API
    openweathermap_url:         http://api.openweathermap.org/data/2.5/weather
    openweathermap_api_key:     XXX

    # GoogleAnalytics API
    googleanalytics_config: XXX

    # Geocoding
    googlemap_api_key: XXX

    # API config
    api_url: www.absolusecure.com/
    api_version: v1

    # Offers config
    default_product: 1
    default_offer: slimdoo-1hour
    testing_offers: []

    # Eldolink Affiliates
    affiliates.no_exit: [12345]
    
    # Assets version
    assets_version:         v1
